################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MobileFinanceErp/config/applicationhost.config
/MobileFinanceErp/bin
/.vs
/MobileFinanceErp/obj
/packages
