USE [MovileErpNew]
GO
/****** Object:  Table [dbo].[tbl_GroupCode]    Script Date: 12-01-2020 03:47:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_GroupCode](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](20) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[DisplayName] [nvarchar](max) NOT NULL,
	[TenantId] [int] NOT NULL,
	[CreatedBy] [nvarchar](128) NULL,
	[CreatedOn] [datetime] NULL,
	[ModifiedOn] [datetime] NULL,
	[ModifiedBy] [nvarchar](128) NULL,
 CONSTRAINT [PK_tbl_GroupCode] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[tbl_GroupCode] ON 

INSERT [dbo].[tbl_GroupCode] ([Id], [Code], [Name], [DisplayName], [TenantId], [CreatedBy], [CreatedOn], [ModifiedOn], [ModifiedBy]) VALUES (1, N'FN_AC', N'FinanceStatus', N'Active', 2, NULL, NULL, NULL, NULL)
INSERT [dbo].[tbl_GroupCode] ([Id], [Code], [Name], [DisplayName], [TenantId], [CreatedBy], [CreatedOn], [ModifiedOn], [ModifiedBy]) VALUES (2, N'FN_CS', N'FinanceStatus', N'Closed', 2, NULL, NULL, NULL, NULL)
INSERT [dbo].[tbl_GroupCode] ([Id], [Code], [Name], [DisplayName], [TenantId], [CreatedBy], [CreatedOn], [ModifiedOn], [ModifiedBy]) VALUES (3, N'FN_PD', N'FinanceStatus', N'Paid', 2, NULL, NULL, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[tbl_GroupCode] OFF
ALTER TABLE [dbo].[tbl_GroupCode]  WITH CHECK ADD  CONSTRAINT [FK_tbl_GroupCode_tbl_Tenant] FOREIGN KEY([TenantId])
REFERENCES [dbo].[tbl_Tenant] ([Id])
GO
ALTER TABLE [dbo].[tbl_GroupCode] CHECK CONSTRAINT [FK_tbl_GroupCode_tbl_Tenant]
GO
