
@{
    ViewBag.PageName = "Models";
}

<div id="ui-view">
    <div>
        <div class="animated fadeIn">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-edit"></i> Manage Models
                    <div class="card-header-actions">
                        <a class="btn-sm btn-info btn" href="@Url.Action("Create","Model")">
                            <i class="fa fa-plus"></i>
                            Add Model
                        </a>
                    </div>
                </div>
                <div class="card-body">
                    @(Html.DataTable<AddEditModelsViewModel>()
                                    .Name("grdModels")
                                    .Read(Url.Action("GetModels", "Model"))
                                    .CssClass("table table-striped table-bordered no-footer")
                                    .Searchable(true)
                                    .PageLength(10)
                                    .Columns(column =>
                                    {
                                        column.Bound(s => s.Id).Searchable(false);                                        
                                        column.Bound(s => s.Name);
                                        column.Template().Title("Actions").RenderCallback("generateActionLink");
                                    })
                                    .Render()
                    )
                </div>
            </div>
        </div>
    </div>
</div>

<script id="javascriptTemplate" type="text/x-kendo-template">
    <a href="@Url.Action("Edit", "Model")/#: Id #" class="text-info">
        <i class="fa fa-pencil"></i>
    </a>
    <button class="btn btn-link text-danger" onclick="deleteModel(#:Id#)">
        <i class="fa fa-remove"></i>
    </button>
</script>

<script>
    function generateActionLink(data) {
        // Get the external template definition using a jQuery selector.
        var template = kendo.template($("#javascriptTemplate").html());
        var result = template(data); //Execute the template
        return result
    }

    function deleteModel(modelId) {
        confirmDialog("Are you sure you want to delete this model?", function () {
            // Delete logic
            postAjaxData('@Url.Action("Delete","Model")', { id: modelId }, function (data) {
                if (data.Status == true) {
                    showSuccess(data.Message);
                    var brandTable = $("#grdModels").DataTable()
                    brandTable.ajax.reload();
                } else {
                    showError(data.Message);
                }
            }, function () { })
        }, function () {

        });
    }
</script>